*.xml
a.out
*.o
*~
*.swp
nvme-*.tar.gz

subprojects/*
!subprojects/*.wrap

cscope.*
compile_commands.json

tests/__pycache__
tests/nvmetests
tests/*.pyc

.build
.build-ci
.build-tools
.cache
_codeql_detected_source_root

# Ignore PyPI build artifacts
dist/
