a.out
*.o
*.ol
*.os
*~
*.swp
*.a
*.so.*

libnvme.pc

test/register
test/test
test/cpp
test/zns

examples/display-tree
examples/display-columnar
examples/telemetry-listen
examples/discover-loop

config.h
ccan/config.h
ccan/ccan-config.h
ccan/tools/configurator/configurator

doc/_build

config-host.h
config-host.mak
config.log

cscope.*

.build

subprojects
!subprojects/*.wrap
