nvme
*.xml
a.out
*.o
*~
*.swp
NVME-VERSION-FILE
nvme.spec
nvme-*.tar.gz
version

cscope.*

/debian/files
/debian/nvme-cli.debhelper.log
/debian/nvme-cli.substvars
/debian/nvme-cli

tests/__pycache__
tests/nvmetests
tests/*.pyc
