#
# Unit file used by 70-nvmf-autoconnect.rules.
#

[Unit]
Description=NVMf auto-connect scan upon nvme discovery controller Events
After=syslog.target
PartOf=nvmf-connect.target
Requires=nvmf-connect.target

[Service]
Type=simple
Environment="CONNECT_ARGS=%i"
ExecStart=/bin/sh -c "nvme connect-all --matching --quiet `/bin/echo -e '${CONNECT_ARGS}'`"
