---
name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  default:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
        buildtype: [debug, release]
    container:
      image: ghcr.io/igaw/linux-nvme/debian:0.34
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: build
        run: |
          scripts/build.sh -b ${{ matrix.buildtype }} -c ${{ matrix.compiler }}
      - uses: actions/upload-artifact@v3
        name: upload logs
        if: failure()
        with:
          name: logs files
          path: |
            .build-ci/meson-logs/*.txt

  cross:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: armhf
          - arch: s390x
          - arch: ppc64le
    steps:
      - uses: actions/checkout@v3
      - name: enable foreign arch
        uses: dbhi/qus/action@main
      - name: compile and run unit tests
        uses: mosteo-actions/docker-run@v1
        with:
          image: ghcr.io/igaw/linux-nvme/ubuntu-cross-${{ matrix.arch }}:0.34
          guest-dir: /build
          host-dir: ${{ github.workspace }}
          command: |
            scripts/build.sh -b release -c gcc -t ${{ matrix.arch }} cross
          params: "--platform linux/amd64"
          pull-params: "--platform linux/amd64"
      - uses: actions/upload-artifact@v3
        name: upload logs
        if: failure()
        with:
          name: log files
          path: |
            .build-ci/meson-logs/*.txt

  libdbus:
    name: libdbus
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/igaw/linux-nvme/debian:0.34
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: build
        run: |
          scripts/build.sh -b release -c gcc libdbus
      - uses: actions/upload-artifact@v3
        name: upload logs
        if: failure()
        with:
          name: log files
          path: |
            .build-ci/meson-logs/*.txt

  fallback-shared-libraries:
    name: fallback shared libraries
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/igaw/linux-nvme/debian:0.34
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: build
        run: |
          scripts/build.sh -b release -c gcc fallback
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: log files
          path: |
            .build-ci/meson-logs/*.txt

  build-muon:
    name: muon minimal static
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/igaw/linux-nvme/debian:0.34
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: |
          scripts/build.sh -m muon
