---
name: docs

on:
  push:
    branches: [master]
    paths:
      - Documentation/**
  pull_request:
    branches: [master]
    paths:
      - Documentation/**

  workflow_dispatch:

jobs:
  build-docs:
    name: build documentation
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/linux-nvme/debian:latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Mark repo as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: build
        run: |
          scripts/build.sh docs
